[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Wasserstoff.png
Type=Link
URL=https://s3.amazonaws.com/media-p.slid.es/uploads/leonbentrup/images/201754/Wasserstoff.png
Icon=image-png
